# Prerequisites
*.d

# Compiled Object files
*.plo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
a.out
engine

# IDE / Editor junk (Optional but recommended)
*.swp
*.swn
Session.vim
.netrwhist
